# Python-related files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Pip artifacts
build/
*.egg-info

# IDE-related files
.vscode/

# Flask-related files
*.env
*.log
instance/

# Miscellaneous files
.DS_Store